<div class="container">

<h2>Sign In Page :  <i> <u> Using Template Driven Forms </u></i> </h2>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="enterEmail" ngModel  required email #enterEmail123="ngModel">
    <b *ngIf="enterEmail123.touched && !enterEmail123.valid">* Enter Email Address</b>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="enterPassword" ngModel required  #enterPassword="ngModel">
    <b *ngIf="enterPassword.touched && !enterPassword.valid">* Enter Passward</b>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="enterChechBox" ngModel required #enterChechBox="ngModel">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    <b *ngIf="enterChechBox.touched && !enterChechBox.valid">* Click Here...</b>
  </div>

  <!-- *DropDown -->

   <select  id="Select"  name="selectFruite" ngModel  >
    <option value="Apple">Apple</option>
    <option value="Mango">Mango</option>
    <option value="Banana">Banana</option>
   </select><br>


  <button  class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>

</form>
</div>
